.wrapper{
    display: grid;
    grid-template: "newest categories" 
                    "newest popular" 1fr 
                    / 2fr 1fr;
    gap: 64px 96px;
    padding-top: 64px;
}

.featured{
    grid-area: newest;
}

.categories{
    grid-area: categories;
}

.popular {
    grid-area: popular;
}